NEXT_PUBLIC_SUPABASE_URL=https://knopygegqkjnuawusraf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_n09G0EDcMj1T9qIpkp9_9A_SGUkU_0P
NEXT_PUBLIC_SITE_URL=https://entramma-coi6Oczdk-rafaelramirezcartes-3167s-projects.vercel.app
